<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  <meta name="keywords" content="{{ .Site.Params.keywords }}">
  <meta name="description" content="{{ .Site.Params.description }}">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/skeleton.css">
  {{- $template := resources.Get "main-css.tmpl" }}
  {{- $main := $template | resources.ExecuteAsTemplate "css/main.css" . }}
  <link rel="stylesheet" href="{{ $main.RelPermalink }}">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {{ partial "favicons.html" . }}
</head>
<body>
  <div id="main">
    <nav>
      <ul>
      {{- range where .Site.RegularPages "Section" "posts" }}
        {{- $id := .Title | lower | safeHTMLAttr }}
        <li class="p-{{ $id }}"><a href="#{{ $id }}">{{ .Title }}</a></li>
      {{- end }}
      </ul>
    </nav>

{{- range where .Site.RegularPages "Section" "posts" }}
  {{- $id := .Title | lower | safeHTMLAttr }}
    <div id="{{ $id }}" class="section p-{{ $id }}">
    {{- if .Params.icon }}
      <div class="subtlecircle sectiondivider imaged">
        <img src="/img/{{ .Params.icon }}" alt="section icon" />
        <h5 class="icon-title">{{ .Title }}</h5>
      </div>
    {{- else if .Params.fa_icon }}
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-{{ .Params.fa_icon }} fa-stack-1x"></i>
        </span>
        <h5 class="icon-title">{{ .Title }}</h5>
      </div>
    {{- end }}
      <div class="container {{ .Params.style }}">
      {{ .Content }}
      </div>
    </div>
{{- end }}

  {{ partial "footer.html" . }}
  </div>

  {{ partial "analytics.html" . }}
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="/js/site.js"></script>
</html>
